<br>
<div class="row container center">
      <div class="col s12 l8 offset-l2">
	<h1 class="center">Aggiungi nuovo</h1>

	<%= render 'form', content: @content %>

	
</div>
</div>
<p class="center"><%= link_to 'Torna', contents_path%></p>