  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-blue darken-1">Pacchetti vacanza</h1>
        <div class="row center">
          <h5 class="header col s12 light">Compra in tutta tranquillità</h5>
        </div>
        <div class="row center">

          <%= link_to "Vai ai contenuti", contents_path, id: "download-button", class: "btn blue darken-1" %>
          
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag("background3.jpg") %></div>
  </div>
  <br>
   

  <div class="container">
    <div class="section margine-sezione">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.We did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom components</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework We did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get startedWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom componentsWe did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
          </div>
        </div>
      </div>

    </div>
    <br>
  </div>
<script>


$(document).ready(function(){
    $('.slider').slider();
  });
        
</script>
