@import "materialize";
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 1.5em;
}
main {
    flex: 1 0 auto;
    margin-top: -3.5%;
    margin-bottom: -5%;
}
.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
.margine-sezione {
  margin-top: -3%;
}
.btn-devise {
  	width: 100%;
  	text-color: #ffffff;
}
.mostra_titolo {
    margin-top: 0;
    font-size: 3.4em;
}
.mostra_img {
    padding-right: 5%;
}
.card-image {
  height: 160px;
}
.titolo_carta {
  font-size: 1em;
}
.pagination li.active {
  color: #fff;
  background-color: #1E88E5;
}
.indicators {
  display: none;
}
.tabs .tab a:hover, .tabs .tab a.active {
 
    background-color: transparent;
    color: #1e88e5;

}